<div class="container">
    <div class="mt-3">
        <h2>Productos (Socket)</h2>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Productos</li>
                <li class="breadcrumb-item active" aria-current="page">Socket</li>
            </ol>
        </nav>
    </div>

    <button class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#modalProducts">Agregar</button>

    <div class="card">
        <div class="card-header">
            Registro de Productos
        </div>
        <div class="card-body">
            <table class="table table-hover" id="dtProducts">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Status</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#products}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>S/.{{price}}</td>
                        <td>{{code}}</td>
                        <td>{{stock}}</td>
                        <td>{{category}}</td>
                        <td><span class="badge rounded-pill text-bg-{{#if status}}success{{else}}danger{{/if}}">{{#if status}}Activo{{else}}Inactivo{{/if}}</span></td>
                        <td>
                            <button class="btn btn-outline-danger btn-delete" data-product-id="{{id}}">
                                <i class="fa-regular fa-trash" data-icon-product-id="{{id}}"></i>
                            </button>
                        </td>
                    </tr>
                    {{/products}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProducts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAddProduct">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Nombre del Producto">
                        <label for="title">Nombre del Producto</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="description" name="description" placeholder="Descripción" style="height: 100px;"></textarea>
                        <label for="description">Descripción</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="price" name="price" placeholder="Precio S/." min="0.01" step="0.01">
                        <label for="price">Precio S/.</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="code" name="code" placeholder="Codigo (AAA-000)">
                        <label for="code">Codigo (AAA-000)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="stock" name="stock" placeholder="Stock" min="0">
                        <label for="stock">Stock</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="category" name="category" placeholder="Categoria">
                        <label for="category">Categoria</label>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-success" id="btnAdd">Agregar</button>
                        <a class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast w-100" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/main.js"></script>